name: Tag Release

on:
  push:
    branches:
      - new

jobs:
  tag_release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        ref: 'new'
        fetch-depth: 0
    - name: Create Tag
      env:
        GITHUB_TOKEN: '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'
      run: |
        git config --global user.email "aniket.chavan@checkred.com"
        git config --global user.name "achavan-cr"
        git log
        git tag v1.0.0 52dcc9b -m new
    - name: Push Tag
      run: |
        git push origin v1.0.0 --force
